<!doctype html>
<html lang="{{ site.Language.LanguageCode | default "en" }}">
  {{ $rootPaths := eq .Title "404 Page not found" }}
  <head>{{ partial "head.html" (dict "Page" . "RootPaths" $rootPaths) }}</head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    {{ partial "header.html" (dict "Page" . "RootPaths" $rootPaths) }}
    <main id="main-content" class="site-main" tabindex="-1">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" (dict "Page" . "RootPaths" $rootPaths) }}
    {{ $navigation := resources.Get "js/navigation.js" | minify | fingerprint }}
    <script src="{{ if $rootPaths }}{{ $navigation.Permalink }}{{ else }}{{ $navigation.RelPermalink }}{{ end }}" defer></script>
  </body>
</html>
